.wall-item-tools
{
	width: 95%;
	clear: left;
	vertical-align: top;
	text-align: right;
}
.wall-item-tools .btn
{
	/*display:none;*/
	padding: 0px 10px;
	font-size: 80%;
	background-color: #FFF;
}
.comment
{
	border-bottom: 1px dashed #D4D4D4;
}
.comment .wall-item-body
{
	font-size: 0.85em;
}
.comment .wall-item-author, .comment .wall-item-ago, .comment .wall-item-lock
{
	display: none;
}
.comment .wall-item-content
{
	width: 80%;
	display: inline-block;
}
.comment .wall-item-tools
{
	width: 15%;
	/*margin-left:32px;*/
	margin-left: 0px;
	margin-top: 5px;
	padding-left: 0px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	background-color: #FFF;
}
.comment .wall-item-tools-right .btn
{
	display: inline-block;
	padding: 3px;
}
.comment .like-rotator
{
	float: none;
	margin: 0px;
}
.comment .wall-item-content-wrapper
{
	padding: 3px 10px 3px 7px;
}
